@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 1st Navigation tab */
.nav_1 {
  font-family: "Raleway", sans-serif;  
  max-width: 1350px;
  margin-inline: auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0 1rem;
  background: linear-gradient(to bottom, #ff3300, #fff 50%, #000000, #fff);
  margin-bottom: 5px;
}

.nav__logo {
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
  flex: 1;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
}

.nav__logo div {
  width: 55px;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  font-size: 1.5rem;
  line-height: 1rem;
  color: #ffffff;
  background: linear-gradient(to bottom, #6eb0ec 75%, #ffffff);
  border-radius: 100%;
}

.nav__socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.nav__socials a {
  padding: 5px 7px;
  font-size: 1.5rem;
  color: #005811;
  background-color: #efeaee;
  border-radius: 100%;
}

.nav__socials a:hover {
  color: #ffffff;
  background-color: #6b7280;
}

.nav__contact {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.nav__contact__card {
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
}

.nav__contact__card span {
  font-size: 2rem;
  color: #6eb0ec;
}

.nav__contact__card p {
  margin-bottom: 5px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #6b7280;
}

.nav__contact__card h4 {
  font-size: 1rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.6);
}

/* 2nd Navigation bar */
.nav_2_logo img {
  width: 600px;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

.nav_2 {
  font-family: "Poppins", sans-serif;
  isolation: isolate;
  width: 100%;
  z-index: 9;
  position: relative;
  border-bottom: 1px solid #444242;
  background: linear-gradient(to bottom, rgba(255, 255, 255), #e0f2ff);     
}

.nav_2_header {
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_2_content {
  display: flex;
}

.nav_2_item {
  position: relative;
}

.nav_2_menu__btn {
  font-size: 1rem;
  color: #175d8b;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.nav_2_menu__btn:last-child {
  margin-right: 0;
}

.nav__links {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0.8rem;
  list-style: none;
  background-color: rgb(255, 255, 255, 0.8);
  transition: 0.5s;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.nav__links.open {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.nav__links a {
  font-weight: 500;
  color: #175d8b;
  padding: 0.5rem 0;
  display: block;
  border-bottom: 1px solid #000000;
}

.nav__links a:last-child {
  border-bottom: none;
}

.nav__links a:hover {
  color: #ff3300;
}

/* Sliding image module */

.Section_top {
  width: 100%;
  padding-top: 17%;
  overflow: hidden;
  position: relative;
  background-image: url(images/sliup_0.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  z-index: 5;
  justify-content: center;
  animation: change 21s infinite ease-in-out;
}

.content {
  position: relative;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
}

.content h1 {
  display: inline;
  color: #000000;
  font-weight: bolder;
  background: rgba(153, 153, 153, 0.8);
  font-size: 22px;
  width: auto;
  text-align: center;
  margin-bottom: 0px;
}

.content h1 span {
  color: #111;
  display: inline-block;
  width: auto;
}

@keyframes change {
  0% {
      background-image: url(images/sliup_0.jpg);
  }
  17% {
      background-image: url(images/slide3.jpg);
  }
  33% {
      background-image: url(images/adma1.jpg);
  }
  50% {
      background-image: url(images/ge1.jpg);
  }
  67% {
      background-image: url(images/kalaqaa.jpg);
  }
  84% {
      background-image: url(images/amboo.jpg);
  }
  100% {
      background-image: url(images/kala_0.jpg);
  }
}

    /*Welcome Message */
.welcome_message {
  background: linear-gradient(to bottom, #fff 10%, #034e88 20%, #034e88 80%, #fff 90%);
  color: #fff;
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 5px;
  width: auto;
  text-align: center;
  margin: 5px 0 0 0;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #888;
}

/* ODUU Cards part */

.card{
  background: linear-gradient(#ecececdb, #fff);
  border-radius: 8px;
  margin-top: 10px;
}

.card-header {
  background-color: #ecececdb;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  font-size: 2rem;
  font-weight: 1000;
  color: #222222;
  box-shadow: 0px 4px 8px rgba(255, 0, 0, 0.1);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
}

.card-list {
  font-family: 'Open Sans', sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 5px 0;
  padding: 0 20px 20px 20px;
  gap: 0 20px;
}

.card-list .card-item {
  background: #fff;
  padding: 26px;
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid transparent;
  transition: border 0.5s ease;
}

.card-list .card-item:hover {
  border: 2px solid #000;
}

.card-list .card-item img {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 8px;
  object-fit: cover;
}

.card-list span {
  display: inline-block;
  background: #F7DFF5;
  margin-top: 12px;
  padding: 8px 15px;
  font-size: 0.75rem;
  border-radius: 50px;
  font-weight: 600;
}

.card-list .purple {
  background-color: #F7DFF5; 
  color: #B22485;
}   

.card-list .blue {
  background-color: #d1e8ff;
  color: #2968a8;
}

.card-list .green {
  background-color: #d6f8d6; 
  color: #205c20;
}

.card-item h3 {
  font-family: serif;
  color: #000;
  font-size: 1rem;
  margin-top: 8px;
  font-weight: 500;
}

.card-item .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-35deg);
  height: 25px;
  width: 25px;
  color: #000;
  border: 1px solid #000;
  border-radius: 50%;
  margin-top: 5px;
  transition: 0.2s ease;
}

.card-list .card-item:hover .arrow  {
  background: #000;
  color: #fff; 
}

    /* Taateewaan/Cards section */

.card_2-container{
  background: linear-gradient(#ecececdb, #fff);
  border-radius: 8px;
  padding: 0;
  margin: 10px 0 0 0;
}

.card_2-list{
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: auto;
  padding: 0;
}

.card_2 {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 150px;
  grid-template-areas: "image" "text";
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  font-family: roboto;
  text-align: center;
  transition: 0.5s ease;
  cursor: pointer;
  margin: 20px;
  padding: 0;
}

.card_2-header {
  text-align: center;
  width: 100%;
  padding: 5px 0;
  font-size: 2rem;
  font-weight: 1000;
  color: #222222;
  box-shadow: 0px 4px 8px rgba(255, 0, 0, 0.1);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  margin-bottom: 0;
}

.card_2-image {
  grid-area: image;
  background: url("images/nice.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.card_2-text {
  grid-area: text;
  margin: 20px;
}

.card_2-text .card_2-date {
  color: rgb(255, 7, 110);
  font-size:15px;
}

.card_2-text p {
  color: rgb(36, 36, 36);
  font-size: 15px;
  font-weight: 300;
}

.card_2:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.card_2-image.card2 {
  background: url("images/wal.png");
  background-size: cover;
}
.card_2-text.card2 .card_2-date {
  color: rgb(255, 77, 7);
}

.card_2-image.card3 {
  background: url("images/qualit.png");
  background-size: cover;
}

.card_2-text.card3 .card_2-date {
  color: rgb(0, 189, 63);
}

.card_2-image.card4 {
  background: url("images/forum.jpg");
  background-size: cover;
}
.card_2-date.card4 .card_2-date {
  color: rgb(255, 77, 7);
}

footer {
  margin-top: 15px;
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

footer a {
  color: #4CAF50;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

/* Suuraa Adda Addaa/Image Slider section */
.suuraa{
  background: linear-gradient(#ecececdb, #fff);
  border-radius: 8px;
  padding: 0;
  margin: 10px 0 0 0;
}  

.suuraa h2{
  text-align: center;
  width: 100%;
  padding: 5px 0;
  font-size: 2rem;
  font-weight: 1000;
  color: #222222;
  box-shadow: 0px 4px 8px rgba(255, 0, 0, 0.1);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  margin-bottom: 0;
}

.slider_container{
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 0 0 8px 8px;
  background: linear-gradient(30deg, 
  rgba(255, 0, 0, 0.6) 0%,   
  rgba(255, 0, 0, 0.6) 1%,   
  rgba(240, 240, 240, 0.6) 32%, 
  rgba(240, 240, 240, 0.6) 43%, 
  rgba(0, 63, 0, 0.5) 50%,   
  rgba(240, 240, 240, 0.6) 57%, 
  rgba(240, 240, 240, 0.6) 68%, 
  rgba(0, 0, 0, 0.6) 99%,     
  rgba(0, 0, 0, 0.6) 100%    
);
}

.slider_imgContainer{
  width: 100%;
  height: 200px;
  position: relative;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.7s;
}

.slide_div{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px 0 10px;
}

.slider_img {
  position: relative;
  height: 150px;
  width: 240px;
  filter: saturate(50%);
  transition: width 0.5s ease, height 0.5s ease, filter 0.5s ease;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}

.slider_button {
  position: absolute;
  width: 240px;
  height: 150px;
  transition: width 0.5s ease, height 0.5s ease, background-color 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.slider_button:hover {
  background-color: rgba(0, 0, 0, 0);
}

.slider_img:target{
  width: 390px;
  height: 220px;
  background-color: transparent;
  filter: saturate(100%);
}

  /* YouTube, Map and Documents section */

.yt_content {
    box-sizing: border-box;
    font-family: Georgia, serif;
    grid-gap: 20px;
    display: grid;
    overflow: hidden;
    padding: 10px;
    margin: 15px 0 0 0;
}

.video-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.video-section {
    flex: 1;
    margin-right: 20px;
    width: 100%;
}

.video-section.half {
    flex: 0 0 50%; 
}

.map-section {
    flex: 0 0 50%;
    text-align: center;
}

.hawassa-section {
    flex: 0 0 25%; 
    margin-left: 20px;
}

.Dhiheenyatti {
    flex: 0 0 25%; 
}

.title {
    font-size: 18px;
    color: #b22222;
    font-weight: bold;
    margin-bottom: 10px;
}

.video, .map {
    width: 100%;
    height: 250px;
    border: none;
}

.hawassa_h5 {
    color: #b22222;
    font-size: 18px;
}

.hawassa_ul {
    list-style-type: none;
    padding: 0;
}

.hawassa_li {
    margin: 8px 0;
}

.hawassa_a {
    color: #1e90ff;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    max-width: 300px;
    white-space: normal;
}

.hawassa_a:hover {
    text-decoration: underline;
    color: #ff4500;
}

.post-date {
    font-size: 12px;
    color: #777;
}

